<!-- ./views/messageDetails.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/messageDetails.css" />
  </head>
  <body>
    <div>
      <div>
        <h1><%= message.user %></h1>
        <p>Message posted at: <%= message.added %></p>
      </div>
      <div><%= message.text %></div>
      <a href="/">Back</a>
    </div>
  </body>
</html>
